.our-features__invisible, .portfolio__invisible{
    display: none;
}

.our-features {
    
    // padding-top: 94px;
    // padding-bottom: 94px;
    justify-content: space-between;
    &__items {
        @media screen and(min-width:320px){
            display: flex;
            flex-wrap: wrap;
           justify-content: center;
           padding-top: 60px;
           padding-bottom: 30px;
          }
         @media screen and(min-width:768px){
            display: flex;
           flex-wrap: wrap;
           padding-bottom: 60px;
           justify-content: space-between;
          }
        display: flex;
        justify-content: space-between;
        // @media screen and(min-width:768px){
        //   display: flex;
         
        //   }
        //   @media screen and(max-width:768px){
        //     display: flex;
            
        //   }
    }
    
    &__items li {
        @media screen and(min-width:320px){
            display: block;
            max-width: 450px;
          }
         
          @media screen and(min-width:768px){
            max-width: 354px;
            
          }
          @media screen and(min-width:1200px){
            max-width: 270px;
            
          }
        //   @media screen and(min-width:768px){
        //     display: flex;
        //     flex-wrap: wrap;
        //     width: 738px;
        //    }
        //    @media screen and(max-width:768px){
        //      display: flex;
        //      flex-wrap: wrap;
        //      width: 738px;
        //    }
       
       
        
    }
    &__items li:nth-child(-n + 2) {
        @media screen and(min-width:768px){
            margin-bottom: 30px;
            
          }
    }
    &__title {
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: $black-color;
        @media screen and(min-width:320px){
            font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
          }
          
          @media screen and(min-width:768px){
            max-width: 354px;
          text-align: left;
           }
          
    }
    
    &__description {
    
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
    
        letter-spacing: 0.03em;
    
        color: $silver-color;
        @media screen and(min-width:320px){
            max-width: 450px;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 30px;
            
            letter-spacing: 0.03em;
            
            color: #757575;
          }
          
          @media screen and(min-width:768px){
            max-width: 354px;
         
           }
           @media screen and(min-width:1200px){
            max-width: 270px;
         
           }
    }
    
    &__icon {
        padding: 25px 100px;
        max-width: 270px;
        height: 120px;
        background-color: $silver-bg;
        margin-bottom: 30px;
        border-radius: 4px;
        @media screen and(min-width:320px){
          
            max-width: 450px;
           display: flex;
           align-items: center;
           justify-content: center;
          }
          
          @media screen and(min-width:768px){
            max-width: 354px;
            padding: 25px 142px;
           }
           @media screen and(min-width:1200px){
            padding: 25px 100px;
            max-width: 270px;
            margin-left: auto;
            margin-right: auto;
          }
    }
}

