.header-logo {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    margin-top: 24px;
    margin-bottom: 25px;
    color: $black-color;
    @media screen and(min-width:320px){
        margin-left: 15px;
       
     
    
    }
   
    @media screen and(min-width:768px){
        margin-left: 15px;
        
     
    
    }
    @media screen and(min-width:1200px){
        margin-left: 0;
        
     
    
    }
    
}
.web {



    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);

    letter-spacing: 0.03em;

    color: $blue-color;
    
}
.footer__logo {
    // margin-left: 222px;
    // margin-top: 59px;
    // margin-bottom: 21px;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/27);
    display: inline-block;
    


    letter-spacing: 0.03em;

    color: $white-color;

}
@media screen and(min-width:320px){
    .header-logo {

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
       left: o;
        color: $black-color;
        
    }   
}
